.news-title {
    color: #333f4a;
    background-color: white;
    font-size: 24;
    font-weight: bold;
    padding-left: 15;
}
.news-description {
    color: white;
    background-color: gray;
    font-size: 24pc;
    font-weight: bold;
    padding-left: 15;
}
.news-story {
    color: black;
    background-color: white;
    font-size: 18pc;
    padding: 15 15 15 15;
}

/****************
 * Web versions *
 ****************/

.news-title-web {
    font-size: 30pt;
    font-weight: bold;
    padding-left: 5px;
}

.news-description-web {
    color: white;
    background-color: gray;
    font-size: 24pt;
    font-weight: bold;
    padding-left: 5px;
}

.news-story-web {
    color: black;
    background-color: white;
    font-size: 12pt;
    padding: 5px 5px 5px 5px;
}