<RadSideDrawer (loaded)="onRadLoaded($event)"  backgroundColor="transparent">
  <ScrollView tkDrawerContent backgroundColor="transparent">
          
      <GridLayout rows="*,*" columns="*">
          <!-- Row 0 -->
          <image
              src="assets/img/clubCrest.png"
              width="50%"
              height="50%"
              loadMode="async"
              col="0"
              row="0"
          ></image>
          <!-- Row 1 -->
          <StackLayout col="0" row="1">
              <Button text="Home" [nsRouterLink]="['news']" pageTransition="slide" clearHistory="true" textWrap="true"></Button>
              <Button text="Gallery" [nsRouterLink]="['gallery']" textWrap="true"></Button>
              <Button text="Teams" (tap)="navigateTo('/asteroids', false)" textWrap="true"></Button>
              <Button text="Fixtures & Results" (tap)="navigateTo('/rovers', false)" textWrap="true"></Button>
              <Button text="Academy" [nsRouterLink]="['academy']" textWrap="true"></Button>
              <Button text="Mecharndise" (tap)="navigateTo('/info', false)" textWrap="true"></Button>
              <Button text="Information" (tap)="navigateTo('/info', false)" textWrap="true"></Button>
              <Button *ngIf="!isUserLogged" text="Login" (tap)="firebaseLogout()" textWrap="true"></Button>
              <Button *ngIf="isUserLogged" text="Logout" (tap)="firebaseLogout()" textWrap="true"></Button>
          </StackLayout>
      </GridLayout>

  </ScrollView>

  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>